
/*---------------------------------------
  HERO & HERO SLIDE         
-----------------------------------------*/
.hero-section-full-height {
    height: 680px;
    min-height: 680px;
    position: relative;
  }
  
  .carousel:hover .carousel-control-next-icon, 
  .carousel:hover .carousel-control-prev-icon {
    opacity: 1;
  }
  
  #hero-slide .carousel-item {
    height: 680px;
    min-height: 680px;
  }
  
  #hero-slide .carousel-caption {
    background: var(--white-color);
    clip-path: polygon(100% 100%, 100% 150px, 0 100%);
    color: var(--secondary-color);
    top: 1px;
    bottom: -1px;
    right: 0;
    left: auto;
    text-align: right;
    min-width: 680px;
    min-height: 680px;
    padding: 100px 100px 50px 100px;
  }
  
  .carousel-image {
    display: block;
    width: 100%;
    min-height: 680px;
  }
  
  #hero-slide .carousel-indicators-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  #hero-slide .carousel-indicators {
    margin-right: 0;
    margin-left: 22px;
    justify-content: inherit;
  }
  
  .carousel-control-next, 
  .carousel-control-prev {
    opacity: 1;
  }
  
  .carousel-control-next-icon, 
  .carousel-control-prev-icon {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-large);
    background-size: 60% 60%;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .carousel-control-next-icon:hover, 
  .carousel-control-prev-icon:hover {
    background-color: var(--primary-color);
  }
  

  @media screen and (max-width: 1170px) {
    #hero-slide .carousel-image {
      height: 100%;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 991px) {
    h1 {
        font-size: 42px;
      }
    
      h2 {
        font-size: 36px;
      }
    
      h3 {
        font-size: 32px;
      }
    
      h4 {
        font-size: 28px;
      }
    
      h5 {
        font-size: 20px;
      }
    
      h6 {
        font-size: 18px;
      }
    
  .hero-section-full-height {
    height: inherit;
  }

  .carousel:hover .carousel-control-next-icon, 
  .carousel:hover .carousel-control-prev-icon {
    opacity: 1;
  }

  #hero-slide .carousel-item {
    height: inherit;
  }

  .carousel-control-prev {
    left: 12px;
  }

  .carousel-control-next {
    right: 12px;
  }

  .carousel-control-next-icon, 
  .carousel-control-prev-icon {
    opacity: 1;
    width: 60px;
    height: 60px;
  }

  .news-detail-header-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  }
  @media screen and (max-width: 580px) {
    .hero-section-full-height,
    #hero-slide .carousel-item,
    .carousel-image {
      min-height: 520px;
    }
  
    #hero-slide .carousel-caption {
      clip-path: polygon(100% 100%, 100% 100px, 0 100%);
      padding-right: 50px;
      min-width: inherit;
      min-height: inherit;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
        font-size: 40px;
      }
    
      h2 {
        font-size: 28px;
      }
    
      h3 {
        font-size: 26px;
      }
    
      h4 {
        font-size: 22px;
      }
    
      h5 {
        font-size: 20px;
      }
  
    #hero-slide .carousel-caption {
        min-width: inherit;
        padding-bottom: 30px;
      }
    
      .carousel-control-next-icon, 
      .carousel-control-prev-icon {
        width: 45px;
        height: 45px;
      }
    
    }